@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bae1ff;
  --foreground: #ffdfba;
  --text-primary: #818181;
  --text-secondary: #77dd77;
  --border-color: #e0e0e0;
  /*#ffb3ba*/
}

[data-theme="dark"] {
  --background: #212124;
  --foreground: #1f1b24;
  --text-primary: #f5f5f5;
  --text-secondary: #818181;
  --border-color: #212124;
}

[data-theme="neon"] {
  --background: #ffb3ba;
  --foreground: #0ff0fc;
  --text-primary: #8a2be2;
  --text-secondary: #7fff00;
  --border-color: #ffffff;
}
[data-theme="dark-blue"] {
  --background: #050a30;
  --foreground: #000c66;
  --text-primary: #7ec8e3;
  --text-secondary: #0000ff;
  --border-color: #0000ff;
}

body {
  background-color: var(--background);
  color: var(--text-primary);

  transition-property: color, background;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.bg {
  background-color: var(--background);
}
.fg {
  background-color: var(--foreground);
}


.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.border-primary {
  border: 1px solid var(--border-color);
}
.border-primary-bottom {
  border-bottom: 1px solid var(--border-color);
}

.light-menu:hover {
  backdrop-filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(5);
}
.dark-menu:hover {
  backdrop-filter: grayscale(5) brightness(2);
}
.neon-menu:hover {
  backdrop-filter: brightness(1) sepia(2) hue-rotate(270deg) saturate(10);
  color: blue;
}
.dark-blue-menu:hover {
  backdrop-filter: brightness(2);
}

.light-menu-selected {
  backdrop-filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(5);
}
.dark-menu-selected {
  backdrop-filter: grayscale(5) brightness(2);
}
.neon-menu-selected {
  backdrop-filter: brightness(1) sepia(2) hue-rotate(270deg) saturate(10);
  color: blue;
}
.dark-blue-menu-selected {
  backdrop-filter: brightness(2);
}

.highlight {
  backdrop-filter: brightness(1) saturate(4);
}

.light-icon {
  filter: brightness(0.8) sepia(1) hue-rotate(140deg) saturate(8);
}
.light-icon :hover {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}
.dark-blue-icon {
  filter: brightness(0.8) sepia(1) hue-rotate(140deg) saturate(8);
}
.dark-blue-icon :hover {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}

.neon-icon {
}
.neon-icon :hover {
  filter: brightness(1) sepia(2) hue-rotate(180deg) saturate(10);
}
.dark-icon :hover {
  filter: brightness(0.5) sepia(1) hue-rotate(180deg) saturate(10);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
   border-radius: 50px;
   height:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--text-primary);
}

/* THEME PICKER COLOR PALETTE */
/*LIGHT THEME*/

.theme-picker-bg-light {
  background-color: #bae1ff;
}
.theme-picker-fg-light {
  background-color: #ffdfba;
}

.theme-picker-text1-light {
 background-color: #818181;
}
.theme-picker-text2-light {
 background-color: #77dd77;
}

/*DARK THEME*/

.theme-picker-bg-dark {
  background-color: #212124;
}
.theme-picker-fg-dark {
  background-color:  #1f1b24;
}

.theme-picker-text1-dark {
 background-color: #f5f5f5;
}
.theme-picker-text2-dark {
 background-color: #818181;
}

/*NEON THEME*/

.theme-picker-bg-neon {
  background-color: #ffb3ba;
}
.theme-picker-fg-neon {
  background-color: #0ff0fc;
}

.theme-picker-text1-neon {
 background-color: #8a2be2;
}
.theme-picker-text2-neon {
 background-color: #7fff00;
}

/*DARK BLUE THEME*/

.theme-picker-bg-dark-blue {
  background-color:#050a30;
}
.theme-picker-fg-dark-blue {
  background-color: #000c66;
}

.theme-picker-text1-dark-blue {
 background-color: #7ec8e3;
}
.theme-picker-text2-dark-blue {
 background-color: #0000ff;
}

.theme-picker{
  max-width:100vw;
  z-index:99;
  top:0;
  right:0;
}

@media  (min-width: 0px) {
 .theme-picker{
  width:35vw;
  top:30px;
  right:223px;
 }
} 
  
