@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/theme_fix.css";
@import 'backgrounds.css';
@import 'paletteColors.css';

:root {
  --background: #bae1ff;
  --foreground: #ffdfba;
  --text-primary: #818181;
  --text-secondary: #77dd77;
  --border-color: #e0e0e0;
  --text-box: #ffffff;
  --altchat: #ffffff;
  --light-speical-header: #374151;
  --form-bg:#e2e8f0;
  --form-input-border:#cbd5e1;
  --select:#e2e8f0;
  
  /*#ffb3ba*/
}




[data-theme="dark"] {
  --background: #1f1b24;
  --foreground: #212124;
  --text-primary: #f5f5f5;
  --text-secondary: #818181;
  --border-color: #212124;
  --text-box: #3f3f46;
  --altchat: #3f3f46;
    --form-bg:#27272a;
  --form-input-border:#030712;
  --select:#52525b;

}
/*#0ff0fc */
[data-theme="neon"] {
  --background: #ffb3ba;
  --foreground: #0fdcfc;
  --text-primary: #8a2be2;
  --text-secondary: #7fff00;
  --border-color: #ffffff;
   --text-box: #ffb3ba;
   --altchat: #F2D2BD;
   --select:#F2D2BD;
}
[data-theme="dark-blue"] {
  --background: #050a30;
  --foreground: #000c66;
  --text-primary: #7ec8e3;
  --text-secondary: #0000ff;
  --border-color: #0000ff;
   --text-box: #050a30;
   --dark-blue-only-border: #0000ff;
   --altchat: #0066ff;
   --form-bg:#172554;
  --form-input-border:#030712;
  --select:#1e40af;
}

body {
  background-color: var(--background);
  color: var(--text-primary);

  transition-property: color, background;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.bg {
  background-color: var(--background);
}
.fg {
  background-color: var(--foreground);
 
}

.select-bg {
  background-color: var(--select);
}

.form-bg{
  background-color: var(--form-bg);
}

.form-input-border{
  border: 1px solid var(--form-input-border);
}

.fakeTextBox {
  background-color: var(--text-box);
}

.altchat {
  background-color: var(--altchat);
}

.dbo-border{

  border: 2px solid var(--dark-blue-only-border);
}

.light-heading{
  color:var(--light-speical-header)
}

.text-primary {
  color: var(--text-primary);
 
}

.text-secondary {
  color: var(--text-secondary);
}

.border-primary {
  border: 1px solid var(--border-color);
}
.border-primary-bottom {
  border-bottom: 1px solid var(--border-color);
}
.border-primary-top {
  border-top: 1px solid var(--border-color);
}

.outline-primary {
  outline: 5px solid var(--background);
}

.light-menu:hover {
  backdrop-filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(5);
}


.dark-menu:hover {
  backdrop-filter: grayscale(5) brightness(2);
}
.neon-menu:hover {
  backdrop-filter: brightness(1) sepia(2) hue-rotate(270deg) saturate(10);
  color: blue;
}
.dark-blue-menu:hover {
  backdrop-filter: brightness(2);
}

.light-menu-selected {
  backdrop-filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(5);
}
.dark-menu-selected {
  backdrop-filter: grayscale(5) brightness(2);
}
.neon-menu-selected {
  backdrop-filter: brightness(1) sepia(2) hue-rotate(270deg) saturate(10);
  
}
.dark-blue-menu-selected {
  backdrop-filter: brightness(2);
}

.highlight {
  backdrop-filter: brightness(1) saturate(10);
}
.highlight-1 {
  backdrop-filter: brightness(1) saturate(2);
}

.light-icon {
  filter: brightness(0.8) sepia(1) hue-rotate(140deg) saturate(8);
}
.light-icon :hover {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}

.light-icon-selected {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}

.dark-blue-icon {
  filter: brightness(0.8) sepia(1) hue-rotate(140deg) saturate(8);
}
.dark-blue-icon :hover {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}
.dark-blue-icon-selected {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}

.neon-icon {
filter: brightness(1) sepia(2) hue-rotate(280deg) saturate(8);
}
.neon-icon :hover {
  filter: brightness(2) sepia(2) hue-rotate(140deg) saturate(10);
}
.neon-icon-selected {
  filter: brightness(1) sepia(10) hue-rotate(290deg) saturate(10);
  
}


.dark-icon :hover {
  filter: brightness(0.5) sepia(1) hue-rotate(180deg) saturate(10);
}
.dark-icon-selected {
  filter: brightness(1) sepia(1) hue-rotate(180deg) saturate(10);
  color:#38bdf8;
}


.zTop{
  position:relative;
  z-index:9999;
}
.zBottom{
  position:relative;
  z-index:0;
}
.z99{
  z-index:9999;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background));
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
   border-radius: 50px;
   height:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
   background: var(--text-primary);
}

/* THEME PICKER COLOR PALETTE */
/*LIGHT THEME*/

.theme-picker-bg-light {
  background-color: #bae1ff;
}
.theme-picker-fg-light {
  background-color: #ffdfba;
}

.theme-picker-text1-light {
 background-color: #818181;
}
.theme-picker-text2-light {
 background-color: #77dd77;
}

/*DARK THEME*/

.theme-picker-bg-dark {
  background-color: #212124;
}
.theme-picker-fg-dark {
  background-color:  #1f1b24;
}

.theme-picker-text1-dark {
 background-color: #f5f5f5;
}
.theme-picker-text2-dark {
 background-color: #818181;
}

/*NEON THEME*/

.theme-picker-bg-neon {
  background-color: #ffb3ba;
}
.theme-picker-fg-neon {
  background-color: #0ff0fc;
}

.theme-picker-text1-neon {
 background-color: #8a2be2;
}
.theme-picker-text2-neon {
 background-color: #7fff00;
}

/*DARK BLUE THEME*/

.theme-picker-bg-dark-blue {
  background-color:#050a30;
}
.theme-picker-fg-dark-blue {
  background-color: #000c66;
}

.theme-picker-text1-dark-blue {
 background-color: #7ec8e3;
}
.theme-picker-text2-dark-blue {
 background-color: #0000ff;
}

.tabLeft{
top:63px;
left:-1%;
height:5px;
}

.tabMiddle{
left:34%;
top:63px;
height:5px;
}
.tabRight{
left:69%;
top:63px;
height:5px;
}

.theme-picker{
  max-width:100vw;
  z-index:99;
  top:0;
  right:0;
}

.loader1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  25% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 2px;
  }
  50% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 -2px,  -14px 0 0 2px,  -38px 0 0 -2px;
  }
  75% {
    box-shadow: 14px 0 0 2px,  38px 0 0 -2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
  100% {
    box-shadow: 14px 0 0 -2px,  38px 0 0 2px,  -14px 0 0 -2px,  -38px 0 0 -2px;
  }
}


/* Shadow behind the sticky note */
.sticky:before {
  box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.25);
  content: '';
  width: 90%;
  left: 5px;
  height: 75%;
  position: absolute;
  top: 30%;
}

/* The sticky note itself */
.sticky-content {
  background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kalam', cursive;
  font-size: 1.25rem;

  clip-path: url(#stickyClip);
}

.sticky2{

  background: linear-gradient(
    180deg,
    rgba(187, 235, 255, 1) 0%,
    rgba(187, 235, 255, 1) 12%,
    rgba(170, 220, 241, 1) 75%,
    rgba(195, 229, 244, 1) 100%
  );
  width: 100%;
  height: 100%;
    font-family: 'Kalam', cursive;
  font-size: 1.25rem;

  clip-path: url(#stickyClip);
}
.sticky-dark{
background-color:#111827;
    font-family: 'Kalam', cursive;
  font-size: 1.25rem;
}

.sticky-content-dark{
background: #0F2027;  /* fallback for old browsers */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Kalam', cursive;
  font-size: 1.25rem;

  clip-path: url(#stickyClip);
}


.sticky-container {
  max-width: 270px;
  position: relative;
}

.sticky-outer {
  display: flex;
  padding-top: 92.5925926%;
  position: relative;

  width: 100%;
}



@media  (min-width: 0px) {
 .theme-picker{
  width:35vw;
  top:10px;
  right:223px;
 }
} 
  
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
.loader-small {
    width: 24px;
    height: 24px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.submit{
background-color:#1d4ed8!important;
}


[data-theme="darkFix"] {
  --background: #212124;
  --foreground: #1f1b24;
  --text-primary: #f5f5f5;
  --text-secondary: #818181;
  --border-color: #212124;
}

[data-theme="neonFix"] {
  --background: #ffb3ba;
  --foreground: #0ff0fc;
  --text-primary: #8a2be2;
  --text-secondary: #7fff00;
  --border-color: #ffffff;
}
[data-theme="dark-blueFix"] {
  --background: #050a30;
  --foreground: #000c66;
  --text-primary: #7ec8e3;
  --text-secondary: #0000ff;
  --border-color: #0000ff;
}



.lightFix-menu:hover {
  backdrop-filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(5);
}

.darkFix-menu:hover {
  backdrop-filter: grayscale(5) brightness(2);
}
.neonFix-menu:hover {
  backdrop-filter: brightness(1) sepia(2) hue-rotate(270deg) saturate(10);
  color: blue;
}
.dark-blueFix-menu:hover {
  backdrop-filter: brightness(2);
}

.lightFix-menu-selected {
  backdrop-filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(5);
}
.darkFix-menu-selected {
  backdrop-filter: grayscale(5) brightness(2);
}
.neonFix-menu-selected {
  backdrop-filter: brightness(1) sepia(2) hue-rotate(270deg) saturate(10);
}
.dark-blueFix-menu-selected {
  backdrop-filter: brightness(2);
}

.highlightFix {
  backdrop-filter: brightness(1) saturate(10);
}
.highlightFix-1 {
  backdrop-filter: brightness(1) saturate(2);
}

.lightFix-icon {
  filter: brightness(0.8) sepia(1) hue-rotate(140deg) saturate(8);
}
.lightFix-icon :hover {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}

.lightFix-icon-selected {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}

.dark-blueFix-icon {
  filter: brightness(0.8) sepia(1) hue-rotate(140deg) saturate(8);
}
.dark-blueFix-icon :hover {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}
.dark-blueFix-icon-selected {
  filter: brightness(1) sepia(1) hue-rotate(140deg) saturate(10);
}

.neonFix-icon {
  filter: brightness(1) sepia(2) hue-rotate(280deg) saturate(8);
}
.neonFix-icon :hover {
  filter: brightness(2) sepia(2) hue-rotate(140deg) saturate(10);
}
.neonFix-icon-selected {
  filter: brightness(1) sepia(10) hue-rotate(290deg) saturate(10);
}

.darkFix-icon :hover {
  filter: brightness(0.5) sepia(1) hue-rotate(180deg) saturate(10);
}
.darkFix-icon-selected {
  filter: brightness(1) sepia(1) hue-rotate(180deg) saturate(10);
  color: #38bdf8;
}

/* THEME PICKER COLOR PALETTE */
/*lightFix THEME*/

.theme-picker-bg-lightFix {
  background-color: #bae1ff;
}
.theme-picker-fg-lightFix {
  background-color: #ffdfba;
}

.theme-picker-text1-lightFix {
  background-color: #818181;
}
.theme-picker-text2-lightFix {
  background-color: #77dd77;
}

/*darkFix THEME*/

.theme-picker-bg-darkFix {
  background-color: #212124;
}
.theme-picker-fg-darkFix {
  background-color: #1f1b24;
}

.theme-picker-text1-darkFix {
  background-color: #f5f5f5;
}
.theme-picker-text2-darkFix {
  background-color: #818181;
}

/*neonFix THEME*/

.theme-picker-bg-neonFix {
  background-color: #ffb3ba;
}
.theme-picker-fg-neonFix {
  background-color: #0ff0fc;
}

.theme-picker-text1-neonFix {
  background-color: #8a2be2;
}
.theme-picker-text2-neonFix {
  background-color: #7fff00;
}

/*darkFix BLUE THEME*/

.theme-picker-bg-dark-blueFix {
  background-color: #050a30;
}
.theme-picker-fg-dark-blueFix {
  background-color: #000c66;
}

.theme-picker-text1-dark-blueFix {
  background-color: #7ec8e3;
}
.theme-picker-text2-dark-blueFix {
  background-color: #0000ff;
}

.sticky-darkFix {
  background-color: #111827;
  font-family: "Kalam", cursive;
  font-size: 1.25rem;
}

.sticky-content-darkFix {
  background: #0f2027; /* fallback for old browsers */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kalam", cursive;
  font-size: 1.25rem;

  clip-path: url(#stickyClip);
}

input, textarea {

  background-color : var(--text-box); 
  outline:none;
  
}

@media  (max-width: 1000px) {
 body::-webkit-scrollbar {
  display: none;

-ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

} 
}


/* Right triangle, left side slightly down */
.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -40px;
	right: auto;
  top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}
.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightyellow lightyellow transparent transparent;
}

.skeleton-box {
  
  cursor: progress; 
  background: 
    linear-gradient(0.25turn, transparent, grey, transparent),
    linear-gradient(#eee, #eee),
    radial-gradient(38px circle at 19px 19px, #eee 50%, transparent 51%),
    linear-gradient(#eee, #eee);  
  background-repeat: no-repeat;
  background-size: 315px 250px, 315px 180px, 100px 100px, 225px 30px; 
  background-position: -315px 0, 0 0, 0px 190px, 50px 195px; 
  animation: loading 1.5s infinite;
}
@keyframes loading {  
  to {
    background-position: 315px 0, 0 0, 0 190px, 50px 195px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}