.redPalette {
  background: #dc2626;
  color: #dc2626;
  border-color: #f87171;
}
.bluePalette {
  background: #2563eb;
  color: #2563eb;
  border-color: #60a5fa;
}
.yellowPalette {
  background: #fbbf24;
  color: #fbbf24;
  border-color: #fde68a;
}
.greenPalette {
  background: #16a34a;
  color: #16a34a;
  border-color: #4ade80;
}
.purplePalette {
  background: #6b21a8;
  color: #6b21a8;
  border-color: #a855f7;
}
.pinkPalette {
  background: #be185d;
  color: #be185d;
  border-color: #ec4899;
}
.orangePalette {
  background: #ea580c;
  color: #ea580c;
  border-color: #fb923c;
}
.blackPalette {
  background: #000000;
  color: #000000;
  border-color: #44403c;
}
.whitePalette {
  background: #ffffff;
  color: #ffffff;
  border-color: #a1a1aa;
}

.redColorOnly {
  color: #dc2626;
}
.blueColorOnly {
  color: #2563eb;
}
.yellowColorOnly {
  color: #fbbf24;
}
.greenColorOnly {
  color: #16a34a;
}
.purpleColorOnly {
  color: #6b21a8;
}
.pinkColorOnly {
  color: #be185d;
}
.orangeColorOnly {
  color: #ea580c;
}
.blackColorOnly {
  color: #000000;
}
.whiteColorOnly {
  color: #ffffff;
}
